.game-board {
  background: green;
  display: flex;
  flex-direction: column;
  .row {
    height: 100px;
    display: flex;
    flex-direction: row;

    .col {
      flex-direction: row;
      flex: 1;
      border: 1px solid black;
    }
  }
}