.game-board {
  background: green;
  display: flex;
  flex-direction: column;
  .row {
    height: 100px;
    display: flex;
    flex-direction: row;

    .col {
      flex-direction: row;
      flex: 1;

      &.road {
        background: black;
      }

      &.water {
        background: lightblue;
      }

      &.white-lane {
        border-bottom: 1px solid white;
      }
    }
  }
}
