.cell {
  flex-direction: row;
  flex: 1;

  &.frog {
    background: green;
  }


  &.road {
    background: black url('https://image.freepik.com/free-photo/closeup-asphalt-road-textured-gray-background_98772-34.jpg');
  }

  &.water {

    background: lightblue url('https://images.pexels.com/photos/261403/pexels-photo-261403.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') ;
  }

  &.white-lane {
    border-bottom: 1px solid white;
  }
}